<li class="clearfix">
  <%= image_tag comment.user.image, :class => 'left' %>

  <strong><%= comment.user.handle %></strong>
  <span class="timeago">
    <small><%= timeago_tag comment.date_time, :limit => 20.days.ago %></small>
  </span>
  <p><%= comment.comment %></p>
</li>