<div id="home-container" class="row">
  <div class="large-9 columns large-centered">
    <div class="large-12 small-8 small-centered columns large-centered">
      <%= image_tag("logo-mascot.png") %>
    </div>
    <h2 class="one-liner">Start a pick-up game in your area and find more people to play it with you.</h2>
    <div class="large-6 columns">
      <h3>Start a game</h3>
      <%= link_to 'Create a game', new_game_path, :class => 'button large-12 columns' %>
    </div>
    <div class="large-6 columns">
      <h3>Find a game</h3>
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" placeholder="Enter your zip code">
        </div>
        <div class="small-2 columns">
          <a href="#" class="button prefix">Go</a>
        </div>
      </div>
    </div>
  </div>
</div>
