$('#member-count-<%= @game.id.to_s %>').html('<a href="#" class="user-count"><%= @game.users.count %><p>Players</p></a>');
$('#join-leave-<%= @game.id.to_s %>').html('<%= escape_javascript(link_to "Leave Game", "/games/" + @game.id + "/leave", {:remote => true, :class => 'leave'}) %>');