$('#member-count-<%= @game.id.to_s %>').html('<a href="#" class="user-count"><%= @game.users.count if @game.users.present? %><p>Players</p></a>');
$('#join-leave-<%= @game.id.to_s %>').html('<%= escape_javascript(link_to "Join Game", '/games/' + @game.id + '/join', {:remote => true, :class => 'join'}) %>');