<div class="large-4 small-6 small-centered columns large-centered">
  <%= image_tag("logo-mascot.png", :class => 'has-tip tip-bottom', :title => 'The pug in pugwarriors stands for "Pick-up game"', 'data-tooltip' => '') %>
</div>
<h1 class="title">Create a pick-up game.</h1>
<%= render 'form' %>
