#create-game {
  h1 { text-align: center; font-size: 3em; }
  .tweet-text-sections { height: 46px; line-height: 45px; text-align: center; }
  #game-item {
    p { margin-bottom: 10px; }
  }
}

#game-page {
  p { margin: 0; }
  h4 { margin-top: 0;
    &.location {  }
  }
}